demo/.settings/*

demo/.project

demo/.classpath

demo/target/*
demo/target

demo.zip

demo/.mvn/*
demo/src/main/java/com/example/util/Test.java
mybatistest/.settings/org.eclipse.m2e.core.prefs
mybatistest/.settings/org.eclipse.jdt.core.prefs
mybatistest/.classpath
mybatistest/.project
