demo/.settings/*

demo/.project

demo/.classpath

demo/target/*
demo/target

demo.zip

demo/.mvn/*
demo/src/main/java/com/example/util/Test.java
mybatistest/.settings/org.eclipse.m2e.core.prefs
mybatistest/.settings/org.eclipse.jdt.core.prefs
mybatistest/.classpath
mybatistest/.project
mybatistest/.idea/compiler.xml
mybatistest/.idea/encodings.xml
mybatistest/.idea/excludeFromValidation.xml
mybatistest/.idea/misc.xml
mybatistest/.idea/uiDesigner.xml
mybatistest/.idea/workspace.xml
mybatistest/.idea/vcs.xml
*/target/*

*/.idea/*

*.iml

*.class

*/*/target/
.idea/vcs.xml
.idea/workspace.xml
javastudy/.classpath
javastudy/.project
javastudy/.settings/org.eclipse.m2e.core.prefs
javastudy/.settings/org.eclipse.jdt.core.prefs
*.bin
*.bin
*.lock
*.properties
shejimoshi/.gradle/4.10/fileChanges/last-build.bin
shejimoshi/.gradle/4.10/fileHashes/fileHashes.bin
shejimoshi/.gradle/4.10/fileHashes/fileHashes.lock
shejimoshi/.gradle/4.10/gc.properties
shejimoshi/.gradle/4.10/taskHistory/taskHistory.bin
shejimoshi/.gradle/4.10/taskHistory/taskHistory.lock
shejimoshi/.gradle/4.4/fileChanges/last-build.bin
shejimoshi/.gradle/4.4/fileHashes/fileHashes.bin
shejimoshi/.gradle/4.4/fileHashes/fileHashes.lock
shejimoshi/.gradle/buildOutputCleanup/buildOutputCleanup.lock
shejimoshi/.gradle/buildOutputCleanup/cache.properties
shejimoshi/.gradle/buildOutputCleanup/outputFiles.bin
shujujiegou/.gradle/4.4/fileHashes/fileHashes.bin
shujujiegou/.gradle/4.4/fileHashes/fileHashes.lock
shujujiegou/.gradle/4.4/taskHistory/taskHistory.bin
shujujiegou/.gradle/4.4/taskHistory/taskHistory.lock
shujujiegou/.gradle/buildOutputCleanup/buildOutputCleanup.lock
shujujiegou/.gradle/buildOutputCleanup/outputFiles.bin
shejimoshi/.gradle/4.10/fileChanges/last-build.bin
shejimoshi/.gradle/4.10/fileHashes/fileHashes.bin
shejimoshi/.gradle/4.10/fileHashes/fileHashes.lock
shejimoshi/.gradle/4.10/gc.properties
shejimoshi/.gradle/4.10/taskHistory/taskHistory.bin
shejimoshi/.gradle/4.10/taskHistory/taskHistory.lock
shejimoshi/.gradle/4.4/fileChanges/last-build.bin
shejimoshi/.gradle/4.4/fileHashes/fileHashes.bin
shejimoshi/.gradle/4.4/fileHashes/fileHashes.lock
shejimoshi/.gradle/buildOutputCleanup/buildOutputCleanup.lock
shejimoshi/.gradle/buildOutputCleanup/cache.properties
shejimoshi/.gradle/buildOutputCleanup/outputFiles.bin
shujujiegou/.gradle/4.4/fileHashes/fileHashes.bin
shujujiegou/.gradle/4.4/fileHashes/fileHashes.lock
shujujiegou/.gradle/4.4/taskHistory/taskHistory.bin
shujujiegou/.gradle/4.4/taskHistory/taskHistory.lock
shujujiegou/.gradle/buildOutputCleanup/buildOutputCleanup.lock
shujujiegou/.gradle/buildOutputCleanup/outputFiles.bin
