demo/.settings/*

demo/.project

demo/.classpath

demo/target/*
demo/target

demo.zip

demo/.mvn/*
demo/src/main/java/com/example/util/Test.java
mybatistest/.settings/org.eclipse.m2e.core.prefs
mybatistest/.settings/org.eclipse.jdt.core.prefs
mybatistest/.classpath
mybatistest/.project
mybatistest/.idea/compiler.xml
mybatistest/.idea/encodings.xml
mybatistest/.idea/excludeFromValidation.xml
mybatistest/.idea/misc.xml
mybatistest/.idea/uiDesigner.xml
mybatistest/.idea/workspace.xml
